<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Francis</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
																											
		<require_module version="3.3.1">
			org.openmrs.module.uiframework
		</require_module>
																											
		<require_module version="2.0.4">
			org.openmrs.module.uilibrary
		</require_module>


		<require_module version="1.5.3-SNAPSHOT">
			org.openmrs.module.hospitalcore
		</require_module>

		<require_module version="1.4">
			org.openmrs.module.appui
		</require_module>
		<require_module version="1.0.1">
			org.openmrs.module.referenceapplication
		</require_module>
			
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientDashboardAppActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Required Global Properties -->
	<globalProperty>
		<property>patientdashboard.referralReasonsConcept</property>
		<defaultValue>REASON FOR REFERRAL</defaultValue>
		<description>

		</description>
	</globalProperty>
	<globalProperty>
		<property>patientdashboard.facilityConcept</property>
		<defaultValue>Name of where patient was referred to</defaultValue>
		<description>
		</description>
	</globalProperty>

	<globalProperty>
		<property>patientdashboard.dosingUnitConceptId</property>
		<defaultValue>162384</defaultValue>
		<description>
			Dosing Unit Concept Id
		</description>
	</globalProperty>

    <globalProperty>
        <property>patientdashboard.historyOfPresentIllness</property>
        <defaultValue>HISTORY OF PRESENT ILLNESS</defaultValue>
        <description>
            patients history of present illness
        </description>
    </globalProperty>

    <globalProperty>
        <property>patientdashboard.physicalexaminationConcept</property>
        <defaultValue>PHYSICAL EXAMINATION</defaultValue>
        <description>
            physical examination
        </description>
    </globalProperty>
	<!-- /Required Global Properties -->
</module>

